[Unit]
Description=Service for Cloud Storage node
After=network-online.target

[Service]
User=storage_node_user
ExecStart=/usr/local/bin/storage_client
Restart=on-failure
RestartSec=5s
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target